.loading,
.error {
  text-align: center;
  padding: 2rem;
  color: var(--color-txt--subtle);
}

.feedGroup {
  margin-bottom: var(--base-space);
}

.additionalItems {
  background: rgba(var(--rgb-ink), 0.02);
  border-radius: 5px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .additionalItems {
    margin-left: var(--base-space);
  }
}

.pre,
.post {
  text-align: center;
  font-size: var(--font-size-xx-small);
  color: var(--color-txt--subtle);
}

.post ul,
.post li {
  display: inline;
  margin: 0;
  padding: 0;
}

.post li ~ li::before {
  content: ', ';
}
