/* Feed item styles */
.feedItem {
  display: block;
  margin: var(--base-space) 0;
  border: 3px solid var(--color-txt--subtle);
  border-radius: 5px;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.feedItem:hover {
  box-shadow:
    0px 0px 3.6px rgba(var(--rgb-ink), 0.014),
    0px 0px 10px rgba(var(--rgb-ink), 0.02),
    0px 0px 24.1px rgba(var(--rgb-ink), 0.026),
    0px 0px 80px rgba(var(--rgb-ink), 0.04);
}

.feedItem:after {
  content: 'To read';
  position: absolute;
  top: 50%;
  right: 100%;
  padding-right: var(--double-space);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  transform: translateY(-50%);
  color: var(--color-txt--subtle);
}

@media (min-width: 60rem) {
  .feedItem {
    margin: var(--half-space) 0;
  }
}

@media (max-width: 60rem) {
  .feedItem:after {
    display: none;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.1;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.inner {
  padding: var(--base-space);
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: var(--font-size-small);
  margin: 0 0 var(--quarter-space);
  color: var(--color-txt--subtle);
}

.title {
  font-size: var(--font-size-large);
  margin: 0 0 var(--quarter-space);
}

.description {
  font-size: var(--font-size-x-small);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .description {
    -webkit-line-clamp: 3;
  }
}

.meta {
  display: flex;
  gap: 1em;
  color: var(--color-txt--subtle);
  font-size: var(--font-size-x-small);
  margin-top: var(--half-space);
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 0.5em;
}

.actions button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: var(--color-txt--subtle);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.actions button:hover {
  color: var(--color-txt);
}

.feedImage {
  display: block;
  max-height: 200px;
  width: auto;
  border-radius: 10px;
  margin-top: var(--half-space);
  max-width: 100%;
}
